* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  padding-bottom: 200px;
}

.hidden {
  display: none !important;
}

.nav-wrapper {
  display: flex;
  background-color: grey;
}
.nav-wrapper button {
  padding-right: 14px;
  border: none;
  background-color: transparent;
}
.nav-wrapper .main-nav {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  flex: 1;
}
.nav-wrapper .main-nav h1 {
  margin-right: 10px;
  font-size: 25px;
}
.nav-wrapper .main-nav p {
  margin-top: 5px;
  font-size: 16px;
  color: #555;
}
.nav-wrapper .nav-list {
  display: flex;
  list-style: none;
}
.nav-wrapper .nav-list .nav-item {
  font-weight: 300;
  margin: 15px;
}
.nav-wrapper .nav-list .nav-item a {
  text-decoration: none;
  color: #000;
}

.filter-form-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.filter-form-wrapper .search-form {
  display: flex;
  margin: 20px 5px;
}
.filter-form-wrapper .search-form select {
  margin: 8px;
  border-radius: 5px;
}
.filter-form-wrapper .search-form .btn-container {
  margin: 8px;
  width: 100%;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: center;
}
.filter-form-wrapper .search-form .btn-container .search-btn,
.filter-form-wrapper .search-form .btn-container .clear-btn {
  margin: 4px;
  padding: 3px;
  border-radius: 5px;
}

.add-artist-form,
.edit-artist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 30px 20px;
  border-radius: 5px;
  background-color: lightblue;
}
.add-artist-form label,
.edit-artist-form label {
  margin: 10px 2px;
}
.add-artist-form input,
.add-artist-form textarea,
.add-artist-form select,
.edit-artist-form input,
.edit-artist-form textarea,
.edit-artist-form select {
  width: 85%;
  height: 25px;
  margin: 0 auto;
  border-radius: 5px;
}
.add-artist-form .btn-container,
.edit-artist-form .btn-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.add-artist-form .btn-container button,
.edit-artist-form .btn-container button {
  margin-right: 8px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  padding: 15px 0;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
footer .footer-content .footer-second-legend {
  margin-top: 12px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.delete-modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  backdrop-filter: blur(6px);
}
.delete-modal-container .delete-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  margin: auto;
  padding: 12px;
  width: 40%;
  height: 280px;
  z-index: 1;
  background-color: aquamarine;
}
.delete-modal-container .delete-modal h2 {
  font-size: 28px;
  margin: 12px;
}
.delete-modal-container .delete-modal p {
  margin-left: 4px;
}
.delete-modal-container .delete-modal .modal-btn-container {
  text-align: center;
}
.delete-modal-container .delete-modal .modal-btn-container button {
  border: none;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 28px;
}
.all-cards .card {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  border: 2px dotted #000;
  word-wrap: break-word;
}
@media (min-width: 900px) {
  .all-cards .card {
    width: calc(33.33% - 20px);
  }
}
.all-cards .card .card-title {
  padding-bottom: 5px;
  margin: 6px 12px;
}
.all-cards .card .card-biography {
  margin: 4px 12px 14px 12px;
}
.all-cards .card .more-details-homepage {
  display: flex;
  margin: auto 4px 10px 12px;
  text-align: center;
}
.all-cards .card .more-details-homepage p {
  margin: 0 0 8px 10px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
}
.all-cards .card .card-btn {
  margin: 10px 0 0 auto;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
}

.artist-details {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}
@media (max-width: 480px) {
  .artist-details {
    margin: 2px 15px;
  }
}
.artist-details .homepage {
  font-size: 16px;
  margin: 12px 0;
}
.artist-details .artist-info {
  text-align: center;
  margin-bottom: 20px;
}
.artist-details .artist-info h2 {
  font-size: 30px;
}
.artist-details .artist-info h4 {
  font-size: 18px;
  margin-bottom: 5px;
}
.artist-details .artist-info .artist-bio {
  margin: 2px 8px;
}
.artist-details img {
  width: 260px;
  height: auto;
  padding: 5px;
  border: 2px solid #000;
}
.artist-details .btn-container {
  display: flex;
  justify-content: center;
  margin: 15px;
}
.artist-details .btn-container button {
  margin-right: 8px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.more-details {
  display: flex;
  align-items: center;
}
.more-details p {
  margin: 20px 5px 20px 10px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
