.filter-form-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  .search-form {
    display: flex;
    margin: 20px 5px;

    select {
      margin: 8px;
      border-radius: $primary-border-radius;
    }

    .btn-container {
      margin: 8px;
      width: 100%;
      padding: 5px;
      flex-wrap: wrap;
      justify-content: center;

      .search-btn,
      .clear-btn {
        margin: 4px;
        padding: 3px;
        border-radius: $primary-border-radius;
      }
    }
  }
}

.add-artist-form,
.edit-artist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 30px 20px;
  border-radius: $primary-border-radius;
  background-color: lightblue;

  label {
    margin: 10px 2px;
  }

  input,
  textarea,
  select {
    width: 85%;
    height: 25px;
    margin: 0 auto;
    border-radius: $primary-border-radius;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    button {
      margin-right: 8px;
      padding: 5px;
      border-radius: $primary-border-radius;
      border: none;
    }
  }
}
