* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  padding-bottom: 200px;
}

.hidden {
  display: none !important;
}

.nav-wrapper {
  display: flex;
  background-color: grey;
}
.nav-wrapper .main-nav {
  display: flex;
  align-items: center;
  padding: 0 18px;
  flex: 1;
}
.nav-wrapper .main-nav h1 {
  margin-right: 10px;
  font-size: 24px;
}
.nav-wrapper .main-nav p {
  font-size: 16px;
  color: #555;
}
.nav-wrapper .nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-wrapper .nav-list .nav-item {
  font-weight: 300;
  margin: 0 15px;
}
.nav-wrapper .nav-list .nav-item a {
  text-decoration: none;
  color: #000;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 20px 5px;
}
.search-form select {
  width: 20%;
  margin: 8px;
  border-radius: 5px;
}
.search-form .btn-container {
  margin: 8px;
  padding: 5px;
}
.search-form .btn-container .search-btn,
.search-form .btn-container .clear-btn {
  padding: 3px;
  border-radius: 5px;
}

.add-artist-form,
.edit-artist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 30px 20px;
  border-radius: 5px;
  background-color: lightblue;
}
.add-artist-form label,
.edit-artist-form label {
  margin: 10px 2px;
}
.add-artist-form input,
.add-artist-form textarea,
.add-artist-form select,
.edit-artist-form input,
.edit-artist-form textarea,
.edit-artist-form select {
  width: 85%;
  height: 25px;
  margin: 0 auto;
  border-radius: 5px;
}
.add-artist-form .btn-container,
.edit-artist-form .btn-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.add-artist-form .btn-container button,
.edit-artist-form .btn-container button {
  margin-right: 8px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  padding: 15px 0;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
footer .footer-content .footer-second-legend {
  margin-top: 12px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card-container .card {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  padding-bottom: 20px;
  position: relative;
  width: calc(100% - 20px);
  border: 2px dotted #000;
}
@media (min-width: 970px) {
  .card-container .card {
    width: calc(33.33% - 20px);
  }
}
.card-container .card .card-title {
  padding-bottom: 5px;
  margin: 6px 12px;
}
.card-container .card .card-biography {
  margin: 4px 12px 14px 12px;
}
.card-container .card .more-details-homepage {
  display: flex;
  margin: auto 4px 10px 12px;
  text-align: center;
}
.card-container .card .more-details-homepage p {
  margin: 0 0 8px 10px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
}
.card-container .card .card-btn {
  margin: 10px 0 0 auto;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
}

.artist-details {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}
.artist-details .homepage {
  font-size: 16px;
  margin: 12px 0;
}
.artist-details .artist-info {
  text-align: center;
  margin-bottom: 20px;
}
.artist-details .artist-info h2 {
  font-size: 30px;
}
.artist-details .artist-info h4 {
  font-size: 18px;
  margin-bottom: 5px;
}
.artist-details img {
  width: 260px;
  height: auto;
  padding: 5px;
  border: 2px solid #000;
}
.artist-details .btn-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.artist-details .btn-container button {
  margin-right: 8px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.more-details {
  display: flex;
  align-items: center;
}
.more-details p {
  margin: 20px 5px 20px 10px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
