.all-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 28px;

  .card {
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    border: 2px dotted #000;
    word-wrap: break-word;

    @include breakpoint-large() {
      width: calc(33.33% - 20px);
    }

    .card-title {
      padding-bottom: 5px;
      margin: 6px 12px;
    }

    .card-biography {
      margin: 4px 12px 14px 12px;
    }

    .more-details-homepage {
      display: flex;
      margin: auto 4px 10px 12px;
      text-align: center;

      p {
        margin: 0 0 8px 10px;
        padding: 5px;
        border: 1px solid #000;
        border-radius: $primary-border-radius;
      }
    }

    .card-btn {
      margin: 10px 0 0 auto;
      position: absolute;
      bottom: 10px;
      right: 10px;
      border: none;
    }
  }
}
